<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="contacts_module_search">
    <div class="contacts_module_search_inner">

        <f:form action="{action}" name="filter" id="contacts_module_search">
            <f:form.textfield property="searchString" id="searchString" value="{piVars.filter.searchString}"/>

            <f:form.submit value="{f:translate(key: 'tx_contacts.module.action.filter')}" class="searchall_submit"/>

        </f:form>

    </div>
</div>
</html>