<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="actions">
    <f:render partial="Contact/List/Actions"/>
</f:section>

<f:section name="content">
    <f:render partial="Contact/List/Filter" arguments="{piVars: piVars, action: 'list'}"/>

    <div class="clear"></div>

    <f:be.widget.paginate objects="{contacts}" as="paginatedContacts" configuration="{itemsPerPage: 25}">
        <f:render partial="Contact/List/Table" arguments="{contacts: paginatedContacts}"/>
    </f:be.widget.paginate>
</f:section>
</html>