<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="actions">
    <f:render partial="Contact/Show/Actions"/>
</f:section>

<f:section name="content">
    <h1>
        <f:translate key="tx_contacts.module.contactController.showAction.header"/>
    </h1>

    <f:if condition="{contact.photo}">
        <div class="right">
            <f:image src="{contact.photo.originalResource.originalFile.uid}"
                     title="{contact.photo.originalResource.title}" alt="{contact.photo.originalResource.title}"
                     maxWidth="150" maxHeight="150"/>
        </div>
        <div class="clear"><!-- &nbsp; --></div>
    </f:if>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 column">

            <table class="tx_contact table data-table">
                <tr>
                    <th style="background-color: #ededed;">
                        <f:translate key="tx_contacts_domain_model_contact.salutation"/>
                    </th>
                    <td>{contact.salutation}</td>
                </tr>
                <f:if condition="{contact.title}">
                    <tr>
                        <th style="background-color: #ededed;">
                            <f:translate key="tx_contacts_domain_model_contact.title"/>
                        </th>
                        <td>{contact.title}</td>
                    </tr>
                </f:if>
                <tr>
                    <th style="background-color: #ededed;">
                        <f:translate key="tx_contacts_domain_model_contact.first_name"/>
                    </th>
                    <td>{contact.firstName}</td>
                </tr>
                <tr>
                    <th style="background-color: #ededed;">
                        <f:translate key="tx_contacts_domain_model_contact.last_name"/>
                    </th>
                    <td>{contact.lastName}</td>
                </tr>
                <f:if condition="{contact.email}">
                    <tr>
                        <th style="background-color: #ededed;">
                            <f:translate key="tx_contacts_domain_model_contact.email"/>
                        </th>
                        <td>{contact.email}</td>
                    </tr>
                </f:if>
                <f:if condition="{contact.uri}">
                    <tr>
                        <th style="background-color: #ededed;">
                            <f:translate key="tx_contacts_domain_model_contact.uri"/>
                        </th>
                        <td>
                            <f:link.typolink parameter="{contact.uri}">
                                <f:translate key="tx_contacts_domain_model_contact.uri"/>
                            </f:link.typolink>
                        </td>
                    </tr>
                </f:if>
            </table>

            <f:if condition="{contact.companies}">
                <h3><f:translate key="tx_contacts_domain_model_contact.companies"/></h3>
                <f:render partial="Company/List/Table" arguments="{companies: contact.companies}"/>
            </f:if>

            <f:if condition="{contact.addresses}">
                <h3><f:translate key="tx_contacts_domain_model_contact.addresses"/></h3>
                <f:for each="{contact.addresses}" as="address">
                    <f:render partial="Address/Show" arguments="{_all}"/>
                </f:for>
            </f:if>

            <f:if condition="{contact.phoneNumbers}">
                <h3><f:translate key="tx_contacts_domain_model_contact.phone_numbers"/></h3>
                <f:for each="{contact.phoneNumbers}" as="phoneNumber">
                    <f:render partial="Phone/Show" arguments="{_all}"/>
                </f:for>
            </f:if>

        </div>
    </div>
</f:section>
</html>