<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{companies}">
    <f:for each="{companies}" as="company">

        <div id="company-teaser-{company.uid}" class="company-teaser">
            <f:if condition="{company.logo}">
                <div class="contacts-company-logo">
                    <f:image src="{company.logo.originalResource.originalFile.uid}"
                             title="{company.logo.originalResource.title}"
                             alt="{company.logo.originalResource.title}" maxWidth="150" maxHeight="150"/>
                </div>
            </f:if>

            <div class="contacts-company-name">
                {company.name}
            </div>
        </div>

    </f:for>
</f:if>