<table class="tx-contact" >
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_address.street" />
        </td>
        <td>
            {address.street}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_address.street_number" />
        </td>
        <td>
            {address.streetNumber}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_address.zip" />
        </td>
        <td>
            {address.zip}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_address.city" />
        </td>
        <td>
            {address.city}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_address.country" />
        </td>
        <td>
            {address.country}
        </td>
    </tr>
</table>