<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="actions">
    <f:render partial="Company/List/Actions"/>
</f:section>

<f:section name="content">
    <f:render partial="Company/List/Filter" arguments="{piVars: piVars, action: 'list'}"/>

    <div class="clear"></div>

    <f:be.widget.paginate objects="{companies}" as="paginatedCompanies" configuration="{itemsPerPage: 25}">
        <f:render partial="Company/List/Table" arguments="{companies: paginatedCompanies}"/>
    </f:be.widget.paginate>
</f:section>
</html>