<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />

    <table  class="tx_contact" >
        <tr>
            <th><f:translate key="tx_contacts_domain_model_contact.salutation" /></th>
            <th><f:translate key="tx_contacts_domain_model_contact.title" /></th>
            <th><f:translate key="tx_contacts_domain_model_contact.first_name" /></th>
            <th><f:translate key="tx_contacts_domain_model_contact.last_name" /></th>
        </tr>

        <f:for each="{contacts}" as="contact">
            <tr>
                <td><f:link.action action="show" arguments="{contact : contact}"> {contact.salutation}</f:link.action></td>
                <td><f:link.action action="show" arguments="{contact : contact}"> {contact.title}</f:link.action></td>
                <td><f:link.action action="show" arguments="{contact : contact}"> {contact.firstName}</f:link.action></td>
                <td><f:link.action action="show" arguments="{contact : contact}"> {contact.lastName}</f:link.action></td>
            </tr>
        </f:for>
    </table>
</f:section>
