<f:layout name="Default" />

<f:section name="main">
    <f:flashMessages />
    <f:render partial="Contact/Properties" arguments="{contact:contact}" />

    <f:for each="{contact.addresses}" as="address" key="key">
        <f:render partial="Address/Properties" arguments="{address:address}" />
    </f:for>

    <f:for each="{contact.phoneNumbers}" as="phone_number" key="key">
        <f:render partial="Phone/Properties" arguments="{phone:phone_number}" />
    </f:for>

    <f:link.action action="list">Back to list</f:link.action><br />
</f:section>