<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:layout name="Default"/>

<f:section name="main">
    <f:if condition="{settings.templateLayout}">
        <f:then>
            <f:render partial="Contact/Teaser/{f:format.case(value: settings.templateLayout, mode: 'capital')}" arguments="{_all}" />
        </f:then>
        <f:else>
            <f:render partial="Contact/Teaser/Default" arguments="{_all}" />
        </f:else>
    </f:if>
</f:section>
</html>
