<table class="tx-contact" >
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_contact.salutation" />
        </td>
        <td>
            {contact.salutation}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_contact.title" />
        </td>
        <td>
            {contact.title}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_contact.first_name" />
        </td>
        <td>
            {contact.firstName}
        </td>
    </tr>
    <tr>
        <td>
            <f:translate key="tx_contacts_domain_model_contact.last_name" />
        </td>
        <td>
            {contact.lastName}
        </td>
    </tr>
</table>
